@font-face {
    font-family: 'robotothin';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin-webfont.woff') format('woff'),
         url('Roboto-Thin-webfont.ttf') format('truetype'),
         url('Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

ol,ul {
	list-style:none;
}

.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	text-align: center;
}
.clr{
	clear: both;
}


/* photo section of portfolio */
.imgContainer {
	width:100%;
	height: 100%;
	overflow: hidden;
}

.portfolioIMG {
	width: auto;
	height: 100%;
	
	 /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	/*filter: gray; /* IE6-9 */
	/*-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ 

}


.portfolioIMG.portrait {
	width: 100%;
	height: auto;
}

.lb-album{
	width: 900px;
	margin: 0 auto;
	font-family: 'robotothin';
}
.lb-album li{
	float: left;
	margin: 7px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a{
	width: 200px;
	height: 200px;
	position: relative;
	padding: 10px;
	background: black;
	-webkit-box-shadow: 1px 1px 2px #282829, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #282829, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #282829, 1px 1px 2px rgba(158,111,86,0.3) inset;
	
}
.lb-album li > a span{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 150px;
	color: #faf8fb;
	text-shadow: 0px 1px 1px rgba(40,40,41, 0.6);
	font-family: "robotobold";
	font-size: 24px;
	opacity: 0;
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(148, 146, 202, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(148, 146, 202, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(148, 146, 202, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(148, 146, 202, 1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(148, 146, 202, 1) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;

}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow-y: auto;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, #282829  100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%, #282829));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, #282829 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, #282829 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, #282829 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, #282829 100%);
}
.lb-overlay > div{
	position: relative;
	color: black;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 1500px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(40, 40, 41, 0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3{
	padding: 0px 20px;
	height: 90px;
	font-family: "robotoblack";
	font-weight: 100;
	line-height: 1.1;
	margin-top: 10px;
}

.lb-overlay div p{
	padding: 0px 20px;
	width: 600px;
	height: 120px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid black;
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: "roboto_Thin_Web";
	
}
.lb-overlay div h3 span{
	display: block;
	line-height: 20px;
}
.lb-overlay div p{
	text-align: left;
	float: left;
}
.lb-overlay a.lb-close{
	font-family: "robotomedium";
	background: rgba(40,40,41,0.8);
	z-index: 1001;
	color: #faf8fb;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 60px;
	height: 30px;
	overflow: hidden;
	margin-left: -25px;
	border-radius: 5px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img{
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
  0% { -moz-transform: scale(0.6); opacity: 0; }
  100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
  0% { -o-transform: scale(0.6); opacity: 0; }
  100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
  0% { -ms-transform: scale(0.6); opacity: 0; }
  100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


x:-o-prefocus, .lb-overlay img {
    height: 100%;
}



/* Resume Container */

.resume{
	padding: 50px;
	margin: auto;
	width: 75%;
}