
	<div class="row page statement-page">

		<h1 class="header">Katie Bergmann: Artist Statement</h1>	

		<p class="statement"> As a graphic designer, I am a firm believer in consistency and functionality in order to create a statement. While I tend to lean towards a formalistic approach within my designs, my work also focuses on communication and attention to detail. When creating anything, a logo or advertisement for example, I take my time working out how the design will function on a variety of mediums such as a business card, poster, or even a bus ad. This is crucial to me in order to create a design that will look good in a variety of contexts and be adaptable as well. As a graphic designer, I need to be flexible with what best fits a client, but I put a lot of myself into my designs as well. I am a stubborn perfectionist, which ultimately reflects in my designs by carefully placing every component in a specific manner, always following a grid; in order build relation with each component while maintaining their uniqueness as well. 
			<br>
			<br>
		When I am designing, I like to keep all of my work extremely clean and simple. I believe that a good, clean design often has more of a presence that something with too much complexity. Within the last year, I have branched out from traditional graphic design using solely computer programs to create my images, and have begun experimenting with ink, paint, printmaking, paper and other mediums in order to develop my own unique and edgy designs that help me stand out among other graphic designers. 
			<br> 
			<br>
		While I use a variety of different materials and mediums in each project, my methodology is very consistent. All of my designs start out first as rough sketches and concepts. Each project consists of multiple works, often in a range of media, and is inspired by a specific theme. This process allows me to gain a better understanding of the direction I want to take my design and simultaneously helps me to flourish as a designer. 

		</p> 	

	</div>
