
	<div class="row page statement-page">

		<h1 class="header">Contact Me!</h1>	
		<form>      
			  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
			  <input name="email" type="text" class="feedback-input" placeholder="Email" />
			  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
			  <input type="submit" value="SUBMIT"/>
		</form>
		
	</div>

	<div class="contact_statement"><p> Or e-mail me at: kbergmann15@my.whitworth.edu </p></div>